*{
    margin: 0;
    padding : 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing:border-box;
}
body{
    width: 100%;
    height: 100vh;
    padding: 25px;
    align-items: center;
    background-image: url("D:/projects and internships/todo/todo.jpg");
    background-size: cover;
    background-position: center;
   
}
div{
    margin: 16px;
    padding: 8px;
    background-color:rgb(246, 236, 240);
    box-shadow: 2px 5px 5px rgba(0,0,0,0.7);
    border: none;
    border-radius: 5px;
    
}
.container{
    text-align: center;
    justify-content: space-between;
   margin-left: 30%;
   margin-right: 30%;
   margin-bottom: auto;
}
.container h1{
   text-align: center; 
}
.inputfield{
    margin: 24px;
   padding: 10px;
   color: black;
   text-align: left;
}
#input{
    padding: 2px;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-size: 15px;
    width: 90%;
}
#btn{
    padding: 2px;
    border-radius: 0.5px;
    background-color: #fff;
    border-color: black;
}
